.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  color: #ffffff;
}

.auswertung {
  width: 33%;
  border: 1px solid white;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 300%;
  font-style: normal;
  font-weight: 100;
  line-height: 40px;
}

.router {
  display: flex;
  flex-direction: row;
}

.list {
  font-size: 90%;
  color: #ffffff;
}

.link {
  color: #ffffff;
}
