.App {
  text-align: center;
  min-height: 100vh;
  background-color: #1d283d;
  color: #ffffff;
  font-weight: 100;
}

.title {
  width: 100%;
  background-color: #1d283d;
}

.auswertung {
  display: flex;
  flex-direction: column;
  margin-left: 34%;
  margin-right: 34%;
  border: 1px solid white;
}

.App-header {
  background-color: #1d283d;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 300%;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.router {
  display: flex;
  flex-direction: row;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 90%;
  color: #ffffff;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  color: #6b84b6;
}

.h3 {
  font-weight: 300;
}
